.header{
    display: flex;
    justify-content: space-between;
    font-size: 4rem;
    margin: 0 2.5rem;
    padding: 4rem;
    align-items: center;
    /* border: 0px solid rgba(0, 0, 0, 0.722) */
    /* background-color: green; */
}

a > span{
    margin: 0 30px;
    font-size: 3rem;
    cursor: pointer;
    color: white;
}

.hederRight {
    display: flex;
    align-items: center;
}
